body {
    font-family: 'Pathway Gothic One';
}

.hover {
    cursor:hand;
    cursor:pointer;
}

.clear {
    clear:both !important;
}

.xhidden {
    display: none;
}

.panel {
    float:left;
    margin:2px 2px;
}

.formation .grid {
    width:165px;
    height:165px;
}

.grid_container {
    border-top-style: solid;
    border-top-color: White;
}

.grid_container .equipment_penel {
    width: 100%;
    height:100%;
}

.char {
    width: 100%;
    height:100%;
    position: relative;
}

.char .img img {
    max-width:100px;
    max-height:150px;
    height: auto;
    width:auto;
}

.char .aura_container {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
}

.char .control_container {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}

.char .friendship {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.char .friendship img {
    max-width:30px;
    max-height:30px;
}

.calculate_control .control_input {
    width:70px;
    height:20px;
    line-height:18px;
    float:left;
    margin:10px 0px;
}

.calculate_control .control_input input {
    width:50px;
    height:20px;
    line-height:18px;
    font-size:12px;
    padding:0px;
    text-align:center;
}

.calculate_control .control_input.walkTime {
    width:170px;
}

.battle_control .control_input {
    width:80px;
    height:20px;
    line-height:18px;
    float:left;
	text-align: center;
}

.battle_control .control_input input {
    width:50px;
    height:20px;
    line-height:18px;
    font-size:12px;
    padding:0px;
    text-align:center;
}

.battle_control .battleFortress_container {
    width:80px;
    height:auto;
    line-height:18px;
    float:left;
	text-align:center;
}

.battle_control .battleFortress_container input {
    width:50px;
    height:20px;
    line-height:18px;
    font-size:12px;
    padding:0px;
    text-align:center;
}

.aura {
    width:10px;
    height:13px;
}

.char_performance {
    width:195px;
    height:400px;
    float:left;
    margin:5px 3px 0px 0px;
    border-radius:8px;
    padding:3px 5px;
    background:#f0f5ff;
}

.char_performance .title {
    height:20px;
    width:90px;
    margin:0px 0px 5px 0px;
    text-align:center;
    color:#33a;
    float:left;
}

.char_performance .value {
    height:20px;
    width:90px;
    margin:0px 0px 5px 0px;
    text-align:center;
    float:left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.performance_header {
    width:175px;
    height:30px;
    float:left;
    margin:0px 3px 0px 0px;
    border-radius:8px;
    padding:3px 5px;
    background:#f0f5ff;
}

.performance_header .title {
    width:80px;
    height:30px;
    line-height:30px;
    margin:0px 0px 5px 0px;
    text-align:center;
    color:#33a;
    float:left;
}

.performance_header .value {
    width:80px;
    height:30px;
    line-height:30px;
    margin:0px 0px 5px 0px;
    text-align:center;
    float:left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.add_button {
    width:100px;
    height:80px;
    line-height:80px;
    margin: auto;
    border-radius:10px;
    text-align:center;
    background:#cde;
    border:1px outset #ace;
}

.button {
    display: inline-block; overflow: hidden; 
    width:100px;
    height:30px;
    line-height:28px;
    margin:10px 0px;
    border-radius:10px;
    text-align:center;
    background:#cde;
    border:1px outset #ace;
}

.row_save_load {
    height: 36px; 
}

.save_file_contents {
    display:inline-block; 
    vertical-align: top; 
    line-height: 36px; 
    padding: 0px 12px;
}

.save-hover-table {
    border: 1px solid black;
    border-collapse: collapse;
}
  
.save-hover-table td {
    border: 1px solid black;
    height: 160px;
    width: 160px;
    display:inline-block;
    vertical-align: bottom;
}

.save-hover-cell-wrapper {
    height: 160px;
    width: 160px;
    position: relative;
}

.save-hover-cell-level-info {
    position: absolute; 
    top: 3px;
    left: 3px;
    font-family: 'Pathway Gothic One';
}

.save-hover-cell-buff-info {
    position: absolute; 
    top: 3px;
    right: 3px;
}

.save-hover-cell-buff-info td {
    height: 6px;
    width: 6px;
}
  
img.save-hover-cell-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button_compact {
    display: inline-block; overflow: hidden; 
    width:50px;
    height:25px;
    line-height:24px;
    margin:6px 0px;
    border-radius:6px;
    text-align:center;
    background:#cde;
    border:1px outset #ace;
}

.pick_button {
    width:150px;
    height:30px;
    font-family: 'Homenaje';
    line-height:28px;
    margin:0px 0px;
    border-radius:10px;
    text-align:center;
    background:#cde;
    border:1px outset #ace;
}

.pick_button_icon {
    background-color: black;
    width: 107px;
    height: 55px;
    border-radius:0px;
    display: inline-block;
}

.pick_button_hg {
    background-image: url("assets/Icon_HG.png");
}

.pick_button_smg {
    background-image: url("assets/Icon_SMG.png");
}

.pick_button_rf {
    background-image: url("assets/Icon_RF.png");
}

.pick_button_ar {
    background-image: url("assets/Icon_AR.png");
}

.pick_button_mg {
    background-image: url("assets/Icon_MG.png");
}

.pick_button_sg {
    background-image: url("assets/Icon_SG.png");
}

.view_equipment_button {
    display: inline-block;
    width:110px;
    height:30px;
    border-radius:10px;
    background:#cde;
    border:1px outset #ace;
    text-align:center;
    line-height:28px;
    margin:5px 0px;
}

.skill_all_button {
    display: inline-block;
    width:110px;
    height:30px;
    border-radius:10px;
    background:#cde;
    border:1px outset #ace;
    text-align:center;
    line-height:28px;
    margin:5px 0px;
}

.calculate {
    width:150px;
    float:left;
}

.simulation {
    width:150px;
    float:left;
}

.dmgLinkSwitch {
    width:150px;
    float:left;
}

.button.equipment {
    width:100px;
    height:30px;
    line-height:28px;
    margin:10px 0px;
    border-radius:10px;
    text-align:right;
    background:#cde;
    border:1px outset #ace;
    float:left;
	
	background-size: 40px;
    background-position: left center;
    background-repeat: no-repeat;
}

.pick_button.rarity_extra {
    background:#DFB6FF;
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #DFB6FF,
         0px -1px 0px #DFB6FF,
         1px -1px 0px #DFB6FF,
        -1px  0px 0px #DFB6FF,
         1px  0px 0px #DFB6FF,
        -1px  1px 0px #DFB6FF,
         0px  1px 0px #DFB6FF,
         1px  1px 0px #DFB6FF,
        /* second layer at 2px */
        -2px -2px 1px #DFB6FF,
        -1px -2px 1px #DFB6FF,
         0px -2px 1px #DFB6FF,
         1px -2px 1px #DFB6FF,
         2px -2px 1px #DFB6FF,
         2px -1px 1px #DFB6FF,
         2px  0px 1px #DFB6FF,
         2px  1px 1px #DFB6FF,
         2px  2px 1px #DFB6FF,
         1px  2px 1px #DFB6FF,
         0px  2px 1px #DFB6FF,
        -1px  2px 1px #DFB6FF,
        -2px  2px 1px #DFB6FF,
        -2px  1px 1px #DFB6FF,
        -2px  0px 1px #DFB6FF,
        -2px -1px 1px #DFB6FF;
    }

.pick_button.rarity_5 {
    background:#FFB400;
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #FFB400,
         0px -1px 0px #FFB400,
         1px -1px 0px #FFB400,
        -1px  0px 0px #FFB400,
         1px  0px 0px #FFB400,
        -1px  1px 0px #FFB400,
         0px  1px 0px #FFB400,
         1px  1px 0px #FFB400,
        /* second layer at 2px */
        -2px -2px 1px #FFB400,
        -1px -2px 1px #FFB400,
         0px -2px 1px #FFB400,
         1px -2px 1px #FFB400,
         2px -2px 1px #FFB400,
         2px -1px 1px #FFB400,
         2px  0px 1px #FFB400,
         2px  1px 1px #FFB400,
         2px  2px 1px #FFB400,
         1px  2px 1px #FFB400,
         0px  2px 1px #FFB400,
        -1px  2px 1px #FFB400,
        -2px  2px 1px #FFB400,
        -2px  1px 1px #FFB400,
        -2px  0px 1px #FFB400,
        -2px -1px 1px #FFB400;
    }

.pick_button.rarity_4 {
    background:#D2E05C;
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #D2E05C,
         0px -1px 0px #D2E05C,
         1px -1px 0px #D2E05C,
        -1px  0px 0px #D2E05C,
         1px  0px 0px #D2E05C,
        -1px  1px 0px #D2E05C,
         0px  1px 0px #D2E05C,
         1px  1px 0px #D2E05C,
        /* second layer at 2px */
        -2px -2px 1px #D2E05C,
        -1px -2px 1px #D2E05C,
         0px -2px 1px #D2E05C,
         1px -2px 1px #D2E05C,
         2px -2px 1px #D2E05C,
         2px -1px 1px #D2E05C,
         2px  0px 1px #D2E05C,
         2px  1px 1px #D2E05C,
         2px  2px 1px #D2E05C,
         1px  2px 1px #D2E05C,
         0px  2px 1px #D2E05C,
        -1px  2px 1px #D2E05C,
        -2px  2px 1px #D2E05C,
        -2px  1px 1px #D2E05C,
        -2px  0px 1px #D2E05C,
        -2px -1px 1px #D2E05C;
    }

.pick_button.rarity_3 {
    background:#6FDDCB;
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #6FDDCB,
         0px -1px 0px #6FDDCB,
         1px -1px 0px #6FDDCB,
        -1px  0px 0px #6FDDCB,
         1px  0px 0px #6FDDCB,
        -1px  1px 0px #6FDDCB,
         0px  1px 0px #6FDDCB,
         1px  1px 0px #6FDDCB,
        /* second layer at 2px */
        -2px -2px 1px #6FDDCB,
        -1px -2px 1px #6FDDCB,
         0px -2px 1px #6FDDCB,
         1px -2px 1px #6FDDCB,
         2px -2px 1px #6FDDCB,
         2px -1px 1px #6FDDCB,
         2px  0px 1px #6FDDCB,
         2px  1px 1px #6FDDCB,
         2px  2px 1px #6FDDCB,
         1px  2px 1px #6FDDCB,
         0px  2px 1px #6FDDCB,
        -1px  2px 1px #6FDDCB,
        -2px  2px 1px #6FDDCB,
        -2px  1px 1px #6FDDCB,
        -2px  0px 1px #6FDDCB,
        -2px -1px 1px #6FDDCB;
}

.pick_button.rarity_2 {
    background:#BEDEC7;
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #BEDEC7,
         0px -1px 0px #BEDEC7,
         1px -1px 0px #BEDEC7,
        -1px  0px 0px #BEDEC7,
         1px  0px 0px #BEDEC7,
        -1px  1px 0px #BEDEC7,
         0px  1px 0px #BEDEC7,
         1px  1px 0px #BEDEC7,
        /* second layer at 2px */
        -2px -2px 1px #BEDEC7,
        -1px -2px 1px #BEDEC7,
         0px -2px 1px #BEDEC7,
         1px -2px 1px #BEDEC7,
         2px -2px 1px #BEDEC7,
         2px -1px 1px #BEDEC7,
         2px  0px 1px #BEDEC7,
         2px  1px 1px #BEDEC7,
         2px  2px 1px #BEDEC7,
         1px  2px 1px #BEDEC7,
         0px  2px 1px #BEDEC7,
        -1px  2px 1px #BEDEC7,
        -2px  2px 1px #BEDEC7,
        -2px  1px 1px #BEDEC7,
        -2px  0px 1px #BEDEC7,
        -2px -1px 1px #BEDEC7;
}

.pick_button.unit_background {
    height: 45px;
    text-align: right;
    background-size: 150px;
    background-position: left center;
    background-repeat: no-repeat;
}

.pick_button.battle.fairy_background {
    height: 30px;
	width: 170px;
    text-align: right;
    background-size: 100px;
    background-position: left center;
    background-repeat: no-repeat;

    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #FF6A38,
         0px -1px 0px #FF6A38,
         1px -1px 0px #FF6A38,
        -1px  0px 0px #FF6A38,
         1px  0px 0px #FF6A38,
        -1px  1px 0px #FF6A38,
         0px  1px 0px #FF6A38,
         1px  1px 0px #FF6A38,
        /* second layer at 2px */
        -2px -2px 1px #FF6A38,
        -1px -2px 1px #FF6A38,
         0px -2px 1px #FF6A38,
         1px -2px 1px #FF6A38,
         2px -2px 1px #FF6A38,
         2px -1px 1px #FF6A38,
         2px  0px 1px #FF6A38,
         2px  1px 1px #FF6A38,
         2px  2px 1px #FF6A38,
         1px  2px 1px #FF6A38,
         0px  2px 1px #FF6A38,
        -1px  2px 1px #FF6A38,
        -2px  2px 1px #FF6A38,
        -2px  1px 1px #FF6A38,
        -2px  0px 1px #FF6A38,
        -2px -1px 1px #FF6A38;
}
.pick_button.strategy.fairy_background {
    height: 30px;
	width: 170px;
    text-align: right;
    background-size: 100px;
    background-position: left center;
    background-repeat: no-repeat;

    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #7794D8,
         0px -1px 0px #7794D8,
         1px -1px 0px #7794D8,
        -1px  0px 0px #7794D8,
         1px  0px 0px #7794D8,
        -1px  1px 0px #7794D8,
         0px  1px 0px #7794D8,
         1px  1px 0px #7794D8,
        /* second layer at 2px */
        -2px -2px 1px #7794D8,
        -1px -2px 1px #7794D8,
         0px -2px 1px #7794D8,
         1px -2px 1px #7794D8,
         2px -2px 1px #7794D8,
         2px -1px 1px #7794D8,
         2px  0px 1px #7794D8,
         2px  1px 1px #7794D8,
         2px  2px 1px #7794D8,
         1px  2px 1px #7794D8,
         0px  2px 1px #7794D8,
        -1px  2px 1px #7794D8,
        -2px  2px 1px #7794D8,
        -2px  1px 1px #7794D8,
        -2px  0px 1px #7794D8,
        -2px -1px 1px #7794D8;
}



.pick_button_inner_text {
    position: relative;
    top: 0px;
    right: 10px;
    line-height: 22px;
}

.pick_button_inner_text.unreleased {
    color: #FF0000;
}

.pick_button_buff_number {
    text-align: left;
    color: #000000;
    float: left;
    position: relative;
    left: -8px;
    top: 24px;
    font-size: 10px;
    line-height: 22px;
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #FFFFFF,
         0px -1px 0px #FFFFFF,
         1px -1px 0px #FFFFFF,
        -1px  0px 0px #FFFFFF,
         1px  0px 0px #FFFFFF,
        -1px  1px 0px #FFFFFF,
         0px  1px 0px #FFFFFF,
         1px  1px 0px #FFFFFF,
        /* second layer at 2px */
        -2px -2px 1px #FFFFFF,
        -1px -2px 1px #FFFFFF,
         0px -2px 1px #FFFFFF,
         1px -2px 1px #FFFFFF,
         2px -2px 1px #FFFFFF,
         2px -1px 1px #FFFFFF,
         2px  0px 1px #FFFFFF,
         2px  1px 1px #FFFFFF,
         2px  2px 1px #FFFFFF,
         1px  2px 1px #FFFFFF,
         0px  2px 1px #FFFFFF,
        -1px  2px 1px #FFFFFF,
        -2px  2px 1px #FFFFFF,
        -2px  1px 1px #FFFFFF,
        -2px  0px 1px #FFFFFF,
        -2px -1px 1px #FFFFFF;
}

.aura_container_small {
    float:left;
    position:relative;
    left:6px;
    top:6px;
}

.aura_small {
    width:2px;
    height:5px;
}

.pick_button.battle {
    background:#FF6A38;
}

.pick_button.strategy {
    background:#7794D8;
}

.button.battle {
    background:#FF6A38;
	
	height: 30px;
	width: 170px;
    text-align: right;
    background-size: 100px;
    background-position: left center;
    background-repeat: no-repeat;
	
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #FF6A38,
         0px -1px 0px #FF6A38,
         1px -1px 0px #FF6A38,
        -1px  0px 0px #FF6A38,
         1px  0px 0px #FF6A38,
        -1px  1px 0px #FF6A38,
         0px  1px 0px #FF6A38,
         1px  1px 0px #FF6A38,
        /* second layer at 2px */
        -2px -2px 1px #FF6A38,
        -1px -2px 1px #FF6A38,
         0px -2px 1px #FF6A38,
         1px -2px 1px #FF6A38,
         2px -2px 1px #FF6A38,
         2px -1px 1px #FF6A38,
         2px  0px 1px #FF6A38,
         2px  1px 1px #FF6A38,
         2px  2px 1px #FF6A38,
         1px  2px 1px #FF6A38,
         0px  2px 1px #FF6A38,
        -1px  2px 1px #FF6A38,
        -2px  2px 1px #FF6A38,
        -2px  1px 1px #FF6A38,
        -2px  0px 1px #FF6A38,
        -2px -1px 1px #FF6A38;
}

.button.strategy {
    background:#7794D8;
	
	height: 30px;
	width: 170px;
    text-align: right;
    background-size: 100px;
    background-position: left center;
    background-repeat: no-repeat;
	
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #7794D8,
         0px -1px 0px #7794D8,
         1px -1px 0px #7794D8,
        -1px  0px 0px #7794D8,
         1px  0px 0px #7794D8,
        -1px  1px 0px #7794D8,
         0px  1px 0px #7794D8,
         1px  1px 0px #7794D8,
        /* second layer at 2px */
        -2px -2px 1px #7794D8,
        -1px -2px 1px #7794D8,
         0px -2px 1px #7794D8,
         1px -2px 1px #7794D8,
         2px -2px 1px #7794D8,
         2px -1px 1px #7794D8,
         2px  0px 1px #7794D8,
         2px  1px 1px #7794D8,
         2px  2px 1px #7794D8,
         1px  2px 1px #7794D8,
         0px  2px 1px #7794D8,
        -1px  2px 1px #7794D8,
        -2px  2px 1px #7794D8,
        -2px  1px 1px #7794D8,
        -2px  0px 1px #7794D8,
        -2px -1px 1px #7794D8;
}

.pick_button.extra {
    box-shadow:15px 0px 0px 0px #DFB6FF inset;
    }

.button.extra {
    box-shadow:15px 0px 0px 0px #DFB6FF inset;
}

.button.unreleased {
    box-shadow:15px 0px 0px 0px #FF6A38 inset;
}

.pick_button.unreleased {
    box-shadow:15px 0px 0px 0px #FF6A38 inset;
}

.update_log {
    width:200px;
}

#updateDialog .text {
    height: 200px;
    overflow-y: scroll;
}

.factory {
    display: none;
}

.ui-state-hover {
    background:lightyellow;
}
.ui-state-active {
    background:lightgray;
}

.fairy_container .item {
    float:left;
    margin:10px 0px;
	

}

.fairy_container .item.control {
    margin:10px 10px;
}

.fairy_performance {
    width:650px;
    height:30px;
    float:left;
    margin:5px 3px 0px 0px;
    border-radius:8px;
    padding:3px 5px;
    background:#f0f5ff;
}

.fairy_performance .title {
    width:50px;
    height:30px;
    line-height:30px;
    margin:0px 0px 5px 0px;
    text-align:center;
    color:#33a;
    float:left;
}

.fairy_performance .value {
    width:50px;
    height:30px;
    line-height:30px;
    margin:0px 0px 5px 0px;
    text-align:center;
    float:left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.fairy_performance .title.head {
    width:100px;
}

.picker_table {
    border-spacing: 0px;
}

.aura_table {
    border: 1px solid black;
    border-collapse:collapse;
}

.aura_table td {
    border: 1px solid black;
}

.inline {
	display: inline-block;
}
a img {
    max-width:25px;
    max-height:25px;
}
